In [1]:
import pandas as pd
import numpy as np

In [2]:
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import OrdinalEncoder

In [3]:
df = pd.read_csv('covid_toy.csv')

In [4]:
df.head()

   age  gender  fever cough     city has_covid
0   60    Male  103.0  Mild  Kolkata        No
1   27    Male  100.0  Mild    Delhi       Yes
2   42    Male  101.0  Mild    Delhi        No
3   31  Female   98.0  Mild  Kolkata        No
4   65  Female  101.0  Mild   Mumbai        No

In [5]:
df.isnull().sum()

age           0
gender        0
fever        10
cough         0
city          0
has_covid     0
dtype: int64

In [6]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(df.drop(columns=['has_covid']),df['has_covid'], test_size=0.2)

In [7]:
X_train

    age  gender  fever   cough       city
3    31  Female   98.0    Mild    Kolkata
84   69  Female   98.0  Strong     Mumbai
44   20    Male  102.0  Strong      Delhi
90   59  Female   99.0  Strong      Delhi
94   79    Male    NaN  Strong    Kolkata
..  ...     ...    ...     ...        ...
38   49  Female  101.0    Mild      Delhi
57   49  Female   99.0  Strong  Bangalore
30   15    Male  101.0    Mild      Delhi
27   33  Female  102.0  Strong      Delhi
9    64  Female  101.0    Mild      Delhi

[80 rows x 5 columns]

# 1. Mentos Zindagi with column Transformer

In [8]:
from sklearn.compose import ColumnTransformer

In [11]:
transformer = ColumnTransformer(
    transformers=[
        ('tnf1',SimpleImputer(),['fever']),
        ('tnf2',OrdinalEncoder(categories=[['Mild','Strong']]),['cough']),
        ('tnf3',OneHotEncoder(sparse_output=False,drop='first'),['gender','city'])
    ],remainder='passthrough'
)

In [13]:
transformer.fit_transform(X_train).shape

(80, 7)